:root {
  // Colors
  --color-red  : #dc2f2f;
  --color-green: #2e7c2a;
  --color-white: #fff;

  // Fonts
  --font-base  : 16px;
  --font-medium: calc(var(--font-base) * 1.5);

  // Other
  --navbar-height: 60px;
}